* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

.app-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.app-header {
  height: 25px;
  background: blue;
}

.app-body {
  flex: 1;
  background: #fff;
  overflow-y: scroll;
}

.app-footer {
  height: 50px;
  background: red;
}

/* footer */
.app-footer {
  display: flex;
}

.footer-btn {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
  height: 100%;
}

.footer-link {
  color: #fff;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}