.app-body {
    overflow: scroll;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    height: 400px;
}

.image-header {
    position: fixed;
    left: 0;
    width: 100%;
    height: 35%;
    opacity: .65;
}

.photo {
    position: relative;
    top: 160px;
    left: 0;
    border-radius: 100px;
    width: 150px;
    border: 5px solid #FF4c1D;
}

.name {
    position: relative;
    text-align: center;
    margin-top: -90px;
}

.title {
    position: relative;
    text-align: center;
    font-style: italic;
    color: #1370CC;
}

.bio {
    position: relative;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.contact {
    position: relative;
    text-align: center;
}
